<header class="header">
  <div class="wrapper">
    <div class="logo">
      <img src="img/IMG_1997.webp">
    </div>
    <nav>
      <div class="hspac">
        <div class="home">
          <span>ГОЛОВНА</span>
        </div>
        <div class="services">
          <span>СЕРВІСИ</span>
        </div>
        <div class="portfolio">
          <span>ПОРТФОЛІО</span>
        </div>
        <div class="about">
          <span>КОМАНДА</span>
        </div>
        <div class="contact">
          <span>КОНТАКТИ</span>
        </div>
      </div>
    </nav>
  </div>
</header>
