<article id="card">
  <h2>Card</h2>
  <div class="row">
    <div class="col-4">
      <h3>Card title</h3>
      <hr>
      <span>card content</span>
      <span>card content</span>
      <span>card content</span>
    </div>
    <div class="col-4">
      <h3>Card title 2</h3>
      <hr>
      <span>card content</span>
      <span>card content</span>
      <span>card content</span>
    </div>
    <div class="col-4">
      <h3>Card title 3</h3>
      <hr>
      <span>card content</span>
      <span>card content</span>
      <span>card content</span>
    </div>
  </div>
  <pre>
    <code class="language-markup">
      <script type="prism-html-css">
      <article id="card">
        <h2>Card</h2>
        <div class="row">
          <div class="col-4">
            <h3>Card title</h3>
            <hr>
            <span>card content</span>
            <span>card content</span>
            <span>card content</span>
          </div>
          <div class="col-4">
            <h3>Card title 2</h3>
            <hr>
            <span>card content</span>
            <span>card content</span>
            <span>card content</span>
          </div>
          <div class="col-4">
            <h3>Card title 3</h3>
            <hr>
            <span>card content</span>
            <span>card content</span>
            <span>card content</span>
          </div>
        </div>
      </article>     
      </script>
    </code>
  </pre>
</article>