<article id="buttons">
  <h2>Types of buttons</h2>
  <div>
    <code>Default</code>: default style for button
    <button class="btn">Button Default</button>
  </div>
  <div>
    <code>Primary</code>: style for primary button
    <button class="btn btn-primary">Button Primary</button>
    <button class="btn btn-primary disabled">Button Disabled </button>
  </div>
  <div>
    <code>Secondary</code>: style for secondary button
    <button class="btn btn-secondary">Button Secondary</button>
    <button class="btn btn-secondary disabled">Button Disabled</button>
  </div>
  <div>
    <code>Cancel</code>: used for actions of risk, like deletion or authorization.
    <button class="btn btn-cancel">Button Danger</button>
  </div>
  <h2>Sizes of buttons</h2>
  <div>
    <code>Default</code>: default style for button
    <button class="btn">Button Default</button>
  </div>
  <div>
    <code>small</code>: default style for button
    <button class="btn btn-sm">Button Small</button>
  </div>
  <div>
    <code>large</code>: default style for button
    <button class="btn btn-lg">Button Large</button>
  </div>
  <pre>
    <code class="language-markup">
      <script type="prism-html-css">
        <article id="buttons">
          <h2>Types of buttons</h2>
          <div>
            <code>Default</code>: default style for button
            <button class="btn">Button Default</button>
          </div>
          <div>
            <code>Primary</code>: style for primary button
            <button class="btn btn-primary">Button Primary</button>
            <button class="btn btn-primary disabled">Button Disabled </button>
          </div>
          <div>
            <code>Secondary</code>: style for secondary button
            <button class="btn btn-secondary">Button Secondary</button>
            <button class="btn btn-secondary disabled">Button Disabled</button>
          </div>
          <div>
            <code>Cancel</code>: used for actions of risk, like deletion or authorization.
            <button class="btn btn-cancel">Button Danger</button>
          </div>
          <h2>Sizes of buttons</h2>
          <div>
            <code>Default</code>: default style for button
            <button class="btn">Button Default</button>
          </div>
          <div>
            <code>small</code>: default style for button
            <button class="btn btn-sm">Button Small</button>
          </div>
          <div>
            <code>large</code>: default style for button
            <button class="btn btn-lg">Button Large</button>
          </div>
        </article>
      </script>
    </code>
  </pre>
</article>