.blockquote {
  p {
    font-size: 18px;
    letter-spacing: 1px;
  }
  > footer {
    color: gray;
  }
  &-custom {
    > .material-icons {
      display: block;
      text-align: center;
      font-size: 28px;
    }
  }
}
