<!-- Call to Action-->
<section class="call-to-action " id="signup">
    <div class="container position-relative">
        <div class="row justify-content-end">

            <div class="col-md-6">
                <h2 class="mb-4">YOU THINK WE'RE COOL? LETS</h2>
                <h2>WORK TOGETHER</h2>
                <input class='button' type='submit' value='GET IN TOUCH'>

            </div>

            <div class="col-md-6">
                <h2 class="mb-4">STAY INFORMED WITH OUR NEWSLETTER</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, quibusdam debitis, quisquam qui repellat exercitationem eos omnis ab doloribus, minima tempora distinctio expedita vero quo? Quas voluptatem inventore quidem exercitationem!</p>
                <form class="form-subscribe" id="contactFormFooter">
                    <!-- Email address input-->
                    <div class="row">
                        <div class="col">
                            <input class="form-control form-control-lg" id="emailAddressBelow" type="email" placeholder="Email Address" data-sb-validations="required,email" />
                            <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:required">Email Address is required.</div>
                            <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:email">Email Address Email is not valid.</div>
                        </div>
                        <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">Form submission successful!</div>
                            <p>To activate this form, sign up at</p>
                            <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                </form>
            </div>
        </div>
    </div>
</section>