<div class="d-flex justify-content-center">
    <div class="d-flex justify-content-lg-between"
        style="width: 1320px; background-color: rgba(0, 250, 154, 0.5); padding: 60px;">
        <div class="flex-column text-light" style="width: 50%;">
            <h2 class="text-uppercase" style="width: 80%; line-height: 50px;">you think we're cool? let's work together</h2>
            <a href="#" class="d-flex justify-content-center bg-light fs-6 fw-bold text-decoration-none p-3" style="width: 25%; color: rgba(0, 250, 154, 0.5)">GET IN TOUCH</a>
        </div>

        <div class="flex-column bg-light p-4" style="width: 50%;">
            <h2 class="h3 text-body text-uppercase" style="width: 80%; line-height: 40px;">STAY INFORMED WITH OUR NEWSLETTER</h2>
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, quibusdam debitis, quisquam qui
                    repellat exercitationem eos
                </p>
            <form class="d-flex">
                <input type="email" class="form-control py-3" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="YOUR EMAIL">
                <button type="submit" class="border-0 text-white text-uppercase fw-bold px-5" style="background-color: rgba(0, 250, 154, 0.5);">send</button>
            </form>
        </div>
    </div>
</div>