<header class="header" id="top">
  <div class="wrapper">
    <a class="logo" href="/">
      <img src="img/IMG_1997.webp" alt='logo Sigma company'>
    </a>
    <nav class="navSite">
      <ul>
        <li>
          <a href="/foundation.html">Foundation project</a>
        </li>
        <li>
          <a href="/home-custom.html">Home Custom</a>
        </li>
        <li>
          <a href="/home-boot.html">Home Bootstrap</a>
        </li>
        <li>
          <a href="/home-found.html">Home Foundation</a>
        </li>
      </ul>
    </nav>
    @@include('../switch-styles/_switch-styles.html')
  </div>
</header>