<header class="header" id="top">
  <div class="wrapper">
    <a class="logo" href="/">
      <img src="img/IMG_1997.webp" alt='logo Sigma company'>
    </a>
    <nav class="navSite">
      <ul>
        <li>
          <a href="/foundation.html">Foundation project</a>
        </li>
        <li>
          <a href="#">services</a>
        </li>
        <li>
          <a href="#">portfolio</a>
        </li>
        <li>
          <a href="#">about</a>
        </li>
        <li>
          <a href="#">contacts</a>
        </li>
      </ul>
    </nav>
    @@include('../switch-styles/_switch-styles.html')
  </div>
</header>