.left-sidebar {
  position: relative;
  &::-webkit-scrollbar-track {border-radius: 4px;}

  &::-webkit-scrollbar {width: 6px;}

  &::-webkit-scrollbar-thumb {border-radius: 4px;background: #C0C0C0;}
  &.sticky {
    ul {
      position: -webkit-sticky;
      position: sticky;
      top: 10px;
      overflow: scroll;
    }
  }
  ul{
    border-right: 1px solid gray;
    padding: 20px;
    height: 100vh;
    li {
      display: flex;
      align-items: center;
      list-style-type: none;
      height: 50px;
      font-size: 20px;
      a{
        width: 100%;
        text-decoration: none;
        user-select: none;
        border: none;
      }
    }
  }
  a:hover {
    text-decoration: underline;
  }
}
