.switchWrapper {
  button {
    margin: 10px;
    background: none;
    border: none;
    &:hover{
      text-decoration: underline;    
      color: $link-default-hover-color; 
      cursor: pointer;
    }
    img {
      width: 20px;
      max-width: 100%;
      border-radius: 10px;
    }
  }
}   