<article id="avatar">
  <h2>Avatar</h2>
  <div>
    <img class="avatar avatar-circle" src="img/avatar_circle.webp">
    <img class="avatar avatar-circle lg" src="img/avatar_circle.webp">
    <img class="avatar avatar-circle md" src="img/avatar_circle.webp">
    <img class="avatar avatar-circle sm"src="img/avatar_circle.webp">
  </div>
  <div>
    <img class="avatar avatar-square" src="img/avatar_square.webp">
    <img class="avatar avatar-square lg" src="img/avatar_square.webp">
    <img class="avatar avatar-square md" src="img/avatar_square.webp">
    <img class="avatar avatar-square sm"src="img/avatar_square.webp">
    <h3>Basic</h3>
    <p>Three sizes are avilable</p>
  </div>
  <pre>
    <code class="language-markup">
      <script type="prism-html-css">
<article id="avatar">
  <h2>Avatar</h2>
  <div>
    <img class="avatar avatar-circle" src="img/avatar_circle.webp">
    <img class="avatar avatar-circle lg" src="img/avatar_circle.webp">
    <img class="avatar avatar-circle md" src="img/avatar_circle.webp">
    <img class="avatar avatar-circle sm"src="img/avatar_circle.webp">
  </div>
  <div>
    <img class="avatar avatar-square" src="img/avatar_square.webp">
    <img class="avatar avatar-square lg" src="img/avatar_square.webp">
    <img class="avatar avatar-square md" src="img/avatar_square.webp">
    <img class="avatar avatar-square sm"src="img/avatar_square.webp">
    <h3>Basic</h3>
    <p>Three sizes are avilable</p>
  </div>
</article>
    </script>
    </code>
  </pre>
</article>