main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  nav {
    max-width: 200px;
    display: flex;
    flex-direction: column;
  }
  section {
    width: calc(100% - 200px - 24px);
  }
  article {
    // height: 500px;
    border-bottom: 1px solid red;
  }
}

#theme {
  .dark-theme {
    color: white;
    background: #000;
  }
  .light-theme {
    background: white;
    color: #000;
  }
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  >div{ width: 30%; }
}
