<article id="list">
  <h2>List</h2>
  <h3>Unordered list default</h3>
  <ul class="">
    <li>list item 1</li>
    <li>list item 2</li>
    <li>list item 3</li>
    <li>list item 4</li>
    <li>list item 5</li>
  </ul>
  <h3>Unordered list circle</h3>
  <ul class="circle">
    <li>list item 1</li>
    <li>list item 2</li>
    <li>list item 3</li>
    <li>list item 4</li>
    <li>list item 5</li>
  </ul>
  <h3>Unordered list square</h3>
  <ul class="square">
    <li>list item 1</li>
    <li>list item 2</li>
    <li>list item 3</li>
    <li>list item 4</li>
    <li>list item 5</li>
  </ul>
  <h3>Ordered list default</h3>
  <ol>
    <li>list item 1</li>
    <li>list item 2</li>
    <li>list item 3</li>
    <li>list item 4</li>
    <li>list item 5</li>
  </ol>
  <h3>Ordered list roman</h3>
  <ol class="roman">
    <li>list item 1</li>
    <li>list item 2</li>
    <li>list item 3</li>
    <li>list item 4</li>
    <li>list item 5</li>
  </ol>
  <h3>Ordered list alpha</h3>
  <ol class="alpha">
    <li>list item 1</li>
    <li>list item 2</li>
    <li>list item 3</li>
    <li>list item 4</li>
    <li>list item 5</li>
  </ol>
</article>
