.mobSpace {
	position: sticky;
    z-index: 99999;
    top: 0;
    button{
        opacity: 0.9;
        border: 0;
        border-radius: 5px;
        img{
            max-width: 30px;
            border-radius: 100px;
        }
    }
    .navMobile {
        display: none;
        ul {
            list-style: none;
            display: flex;
            justify-content: space-between;
            padding: 0;
            margin: 0;
            opacity: 0.8;
            position: absolute;
            flex-direction: column;
            max-width: 350px;
            text-align: center;
            li {
                border: 1px solid #ccc;
                border-radius: 5px;
                background-color: #f0f0f0;
                padding: 7px;
                a{
                    text-decoration: none;
                    font-family: 'Roboto Mono', monospace;
                    font-weight: 600;
                    font-size: 15px;
                    color: #2F4F4F;
                    z-index:1;
                }
            }
            .anchors {
                display: flex;
                flex-direction: column;
                a {
                    margin: 5px 0;
                }
                a:first-child {
                    border-top: 1px solid #000; 
                }
            }
        }
    }
}