<div class="mobSpace">
    <button onclick="CollNav()">
        <img src="img/menu.webp">
    </button>
    <div class="navMobile" id="navList">
        <ul>
            <li>
                <a href="#">main</a>
            </li>
            <li>
                <a href="#">services</a>
            </li>
            <li>
                <a href="#">portfolio</a>
            </li>
            <li>
                <a href="#">about</a>
            </li>
            <li>
                <a href="#">contacts</a>
            </li>
            <li class="anchors">
                <a href="#hero">Hero</a>
                <a href="#typography">Typography</a>
                <a href="#buttons">Buttons</a>
                <a href="#blockquote">Blockquote</a>
                <a href="#grid">Grid</a>
                <a href="#avatar">Avatar</a>
                <a href="#list">List</a>
                <a href="#card">Card</a>
                <a href="#figure">Figure</a>
                <a href="#gallery">Gallery</a>
            </li>
        </ul>
    </div>
</div>
<div class="mobSpace">
    <button id="topUpper">
        <a href="#top"><img src="img/up-arrow.webp"></a>
    </button>
</div>