<!-- Footer -->
<footer class="d-flex justify-content-center text-center text-lg-start text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 align-items-start" style="width: 1320px;">
        <!-- Left -->
        <ul class="nav text-uppercase">
            <li class="nav-item">
                <a class="nav-link text-reset" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-reset" href="#">About us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-reset" href="#">Services</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-reset" href="#">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-reset" href="#">Blog</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-reset" href="#">Contact us</a>
            </li>
        </ul>
        <!-- Left -->

        <!-- Right -->
        <nav class="flex-column text-end text-uppercase p-0 social-links" style="width: 40%">
            <p class="text-uppercase">created by akhouad 2016. all rights reserved</p>
            <a href="#" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="me-4 text-reset">
                <i class="fab fa-youtube"></i>
            </a>
            <a href="#" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="#" class="me-4 text-reset">
                <i class="fab fa-pinterest"></i>
            </a>
            <a href="#" class="text-reset">
                <i class="fab fa-instagram"></i>
            </a>
        </nav>
        <!-- Right -->
    </section>
</footer>
    <!-- Section: Social media -->
    <!-- Footer -->