<!-- Footer-->
<footer class="footer bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 h-100 text-center text-lg-start my-auto">
                <ul class="list-inline mb-3">
                    <li class="list-inline-item"><a href="#!">HOME</a></li>
                    <li class="list-inline-item"><a href="#!">ABOUT US</a></li>
                    <li class="list-inline-item"><a href="#!">SERVICES</a></li>
                    <li class="list-inline-item"><a href="#!">PORTFOLIO</a></li>
                    <li class="list-inline-item"><a href="#!">BLOG</a></li>
                    <li class="list-inline-item"><a href="#!">CONTACT US</a></li>
                </ul>
                <p class="text-muted small mb-4 mb-lg-0">&copy; CREATED BY AKHOUAD 2016. ALL RIGHTS RESERVED.</p>
            </div>
            <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                <ul class="list-inline mb-0">
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-facebook fs-3"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-twitter fs-3"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-youtube fs-3"></i></a>
                    </li>
                    <li class="list-inline-item me-4">
                        <a href="#!"><i class="bi-linkedin fs-3"></i></a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#!"><i class="bi-instagram fs-3"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>