<article id="typography">
  <h2>Typography</h2>
  <p>Basic text writing, including headings, body text, lists, and more.</p>

  <h3>Heading</h3>
  <h1>Header 1</h1>
  <h2>Header 2</h2>
  <h3>Header 3</h3>
  <h4>Header 4</h4>
  <h5>Header 5</h5>
  <h6>Header 6</h6>

  <h3>Paragraph</h3>
  <p>Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Commodi distinctio minus magnam. Perferendis fugit dignissimos ab, sint nemo rerum quisquam magni molestiae nobis temporibus molestias labore sed! Culpa, sit mollitia dolorem repudiandae ut suscipit voluptatem, nam esse debitis quo iure, veritatis deleniti minima itaque, nostrum. Quidem cum aperiam expedita laudantium pariatur mollitia, aliquid et sint, eveniet ipsa sequi necessitatibus inventore aut soluta cupiditate sapiente odit maiores? Minima deserunt enim nesciunt, sed inventore maxime, ullam reprehenderit debitis ut veniam ipsam fugiat suscipit optio perspiciatis rerum ea dolorem sapiente dicta voluptate. Doloremque veniam facilis culpa nulla illo explicabo, recusandae pariatur, ipsum laudantium.</p>

  <h3>Link</h3>
  <a href="#">link</a>

  <h3>Text</h3>
  <h4>Ellipsis</h4>
  <p class="ellipsis">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius odio, eos dolorem accusantium natus magni repellendus dignissimos nemo saepe minus ex sit libero doloribus officia dolore totam sed, neque deleniti numquam quidem. Similique amet minus numquam quam ipsum odio, molestias molestiae velit quos voluptas esse repellendus maxime beatae et voluptatem!</p>
  <h4>Clip</h4>
  <p class="clip">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius odio, eos dolorem accusantium natus magni repellendus dignissimos nemo saepe minus ex sit libero doloribus officia dolore totam sed, neque deleniti numquam quidem. Similique amet minus numquam quam ipsum odio, molestias molestiae velit quos voluptas esse repellendus maxime beatae et voluptatem!</p>
  <pre>
    <code class="language-markup">
      <script type="prism-html-css">
      <article id="typography">
        <h2>Typography</h2>
        <p>Basic text writing, including headings, body text, lists, and more.</p>
      
        <h3>Heading</h3>
        <h1>Header 1</h1>
        <h2>Header 2</h2>
        <h3>Header 3</h3>
        <h4>Header 4</h4>
        <h5>Header 5</h5>
        <h6>Header 6</h6>
      
        <h3>Paragraph</h3>
        <p>Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Commodi distinctio 
          minus magnam. Perferendis fugit dignissimos ab, sint nemo rerum quisquam magni 
          molestiae nobis temporibus molestias labore sed! Culpa, sit mollitia dolorem 
          repudiandae ut suscipit voluptatem, nam esse debitis quo iure, veritatis deleniti 
          minima itaque, nostrum. Quidem cum aperiam expedita laudantium pariatur mollitia, 
          aliquid et sint, eveniet ipsa sequi necessitatibus inventore aut soluta cupiditate 
          sapiente odit maiores? Minima deserunt enim nesciunt, sed inventore maxime, ullam 
          reprehenderit debitis ut veniam ipsam fugiat suscipit optio perspiciatis rerum ea 
          dolorem sapiente dicta voluptate. Doloremque veniam facilis culpa nulla illo explicabo, 
          recusandae pariatur, ipsum laudantium.</p>
      
        <h3>Link</h3>
        <a href="#">link</a>
      
        <h3>Text</h3>
        <h4>Ellipsis</h4>
        <p class="ellipsis">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius odio, 
          eos dolorem accusantium natus magni repellendus dignissimos nemo saepe minus ex sit libero 
          doloribus officia dolore totam sed, neque deleniti numquam quidem. Similique amet minus numquam 
          quam ipsum odio, molestias molestiae velit quos voluptas esse repellendus maxime beatae et voluptatem!</p>
        <h4>Clip</h4>
        <p class="clip">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eius odio, eos dolorem 
          accusantium natus magni repellendus dignissimos nemo saepe minus ex sit libero doloribus officia 
          dolore totam sed, neque deleniti numquam quidem. Similique amet minus numquam quam ipsum odio, 
          molestias molestiae velit quos voluptas esse repellendus maxime beatae et voluptatem!</p>
      </article>
    </script>
    </code>
  </pre>
</article>
