<article id="masonry">
   <h2>Masonry grid</h2>
   <div class="masonry-container">
      <a href="http://rotsi-union.com/%d1%81%d1%8c%d0%be%d0%b3%d0%be%d0%b4%d0%bd%d1%96-%d0%bc%d0%b8-%d1%83%d1%80%d0%be%d1%87%d0%b8%d1%81%d1%82%d0%be-%d0%b2%d1%96%d1%82%d0%b0%d0%bb%d0%b8-%d0%bd%d0%be%d0%b2%d0%be%d0%b3%d0%be-%d0%b2%d0%be/" class="blog-item grid">
         <img class="blog-item-img" src="http://rotsi-union.com/images/2021/01/IMG_0416.jpeg" alt="Сьогодні Ми урочисто вітали нового воіна в нашій команді">
         <div class="blog-item-content grid">
            <h4>Lorem ipsum, dolor sit amet.</h4>
            <span class="post-item--content-data">2021-01-08 22:07:24</span>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing, elit. Hic, maiores.</p>
         </div>
      </a>
      <a href="http://rotsi-union.com/warrior-fully-equipped/" class="blog-item grid">
         <img class="blog-item-img" src="http://rotsi-union.com/images/2020/12/122975866_1268948650136193_6016286458573055567_n.jpg" alt="Warrior fully equipped">
         <div class="blog-item-content grid">
            <h4>Warrior fully equipped</h4>
            <span class="post-item--content-data">2020-12-26 23:26:33</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolor voluptatibus assumenda praesentium nihil facere.</p>
         </div>
      </a>
      <a href="http://rotsi-union.com/new-shields/" class="blog-item grid">
         <img class="blog-item-img" src="http://rotsi-union.com/images/2020/12/117643362_1206149866416072_5655490920789927362_n.jpg" alt="New shields">
         <div class="blog-item-content grid">
            <h4>New shields</h4>
            <span class="post-item--content-data">2020-12-26 23:18:02</span>
            <p>Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Atque, autem. Laudantium, alias blanditiis nostrum similique animi facilis tempora aut eum.
            </p>
         </div>
      </a>
      <a href="http://rotsi-union.com/we-celebrated-two-birthdays/" class="blog-item grid">
         <img class="blog-item-img" src="http://rotsi-union.com/images/2020/12/117653875_1205491379815254_2991188267686500261_n.jpg" alt="We celebrated two birthdays">
         <div class="blog-item-content grid">
            <h4>Lorem ipsum dolor, sit.</h4>
            <span class="post-item--content-data">2020-12-26 23:16:22</span>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
         </div>
      </a>
      <a href="http://rotsi-union.com/no-time-to-stay-at-home/" class="blog-item grid">
         <img class="blog-item-img" src="http://rotsi-union.com/images/2020/12/117307473_1200623013635424_6961434147458653933_n.jpg" alt="No time to stay at home">
         <div class="blog-item-content grid">
            <h4>No time to stay at home</h4>
            <span class="post-item--content-data">2020-12-26 23:10:26</span>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, optio.</p>
         </div>
      </a>
   </div>
</article>