<article id="masonry">
   <h2>Masonry grid</h2>
   <div class="masonry-container">
      <a href="#" class="blog-item grid">
         <img class="blog-item-img" src="img/IMG_0416.webp" alt="Сьогодні Ми урочисто вітали нового воіна в нашій команді">
         <div class="blog-item-content grid">
            <h4>Lorem ipsum, dolor sit amet.</h4>
            <span class="post-item--content-data">2021-01-08 22:07:24</span>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing, elit. Hic, maiores.</p>
         </div>
      </a>
      <a href="#" class="blog-item grid">
         <img class="blog-item-img" src="img/122975866.webp" alt="Warrior fully equipped">
         <div class="blog-item-content grid">
            <h4>Warrior fully equipped</h4>
            <span class="post-item--content-data">2020-12-26 23:26:33</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolor voluptatibus assumenda praesentium nihil facere.</p>
         </div>
      </a>
      <a href="#" class="blog-item grid">
         <img class="blog-item-img" src="img/117643362.webp" alt="New shields">
         <div class="blog-item-content grid">
            <h4>New shields</h4>
            <span class="post-item--content-data">2020-12-26 23:18:02</span>
            <p>Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Atque, autem. Laudantium, alias blanditiis nostrum similique animi facilis tempora aut eum.
            </p>
         </div>
      </a>
      <a href="#" class="blog-item grid">
         <img class="blog-item-img" src="img/117653875.webp" alt="We celebrated two birthdays">
         <div class="blog-item-content grid">
            <h4>Lorem ipsum dolor, sit.</h4>
            <span class="post-item--content-data">2020-12-26 23:16:22</span>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
         </div>
      </a>
      <a href="#" class="blog-item grid">
         <img class="blog-item-img" src="img/117307473.webp" alt="No time to stay at home">
         <div class="blog-item-content grid">
            <h4>No time to stay at home</h4>
            <span class="post-item--content-data">2020-12-26 23:10:26</span>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, optio.</p>
         </div>
      </a>
   </div>
   <pre>
      <code class="language-markup">
         <script type="prism-html">
<article id="masonry">
   <h2>Masonry grid</h2>
   <div class="masonry-container">
      <a href="#" class="blog-item grid">
         <img class="blog-item-img" src="img/IMG_0416.webp" alt="Сьогодні Ми урочисто вітали нового воіна в нашій команді">
         <div class="blog-item-content grid">
            <h4>Lorem ipsum, dolor sit amet.</h4>
            <span class="post-item--content-data">2021-01-08 22:07:24</span>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing, elit. Hic, maiores.</p>
         </div>
      </a>
      <a href="#" class="blog-item grid">
         <img class="blog-item-img" src="img/122975866.webp" alt="Warrior fully equipped">
         <div class="blog-item-content grid">
            <h4>Warrior fully equipped</h4>
            <span class="post-item--content-data">2020-12-26 23:26:33</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat dolor voluptatibus assumenda praesentium nihil facere.</p>
         </div>
      </a>
      <a href="#" class="blog-item grid">
         <img class="blog-item-img" src="img/117643362.webp" alt="New shields">
         <div class="blog-item-content grid">
            <h4>New shields</h4>
            <span class="post-item--content-data">2020-12-26 23:18:02</span>
            <p>Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Atque, autem. Laudantium, alias blanditiis nostrum similique animi facilis tempora aut eum.
            </p>
         </div>
      </a>
      <a href="#" class="blog-item grid">
         <img class="blog-item-img" src="img/117653875.webp" alt="We celebrated two birthdays">
         <div class="blog-item-content grid">
            <h4>Lorem ipsum dolor, sit.</h4>
            <span class="post-item--content-data">2020-12-26 23:16:22</span>
            <p>Lorem ipsum dolor sit amet consectetur.</p>
         </div>
      </a>
      <a href="#" class="blog-item grid">
         <img class="blog-item-img" src="img/117307473.webp" alt="No time to stay at home">
         <div class="blog-item-content grid">
            <h4>No time to stay at home</h4>
            <span class="post-item--content-data">2020-12-26 23:10:26</span>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, optio.</p>
         </div>
      </a>
   </div>
</article>
         </script>
      </code>
     </pre>
</article>