main {
  .wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 auto;
  }
  nav {
    max-width: 200px;
    display: flex;
    flex-direction: column;
  }
  section {
    width: calc(100% - 200px - 24px);
  }
  article {
    border-bottom: 1px solid red;
    padding: 50px 20px;
  }
  @media screen and (max-width: 739px) {
    .wrapper {
        justify-content: center;
    }
    section {
      width: 100%;
      h3 {
        font-size: 14px;
      }
    }
  }
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  >div{ width: 30%; }
}
