main {
  .wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
  nav {
    max-width: 200px;
    display: flex;
    flex-direction: column;
  }
  section {
    width: calc(100% - 200px - 24px);
  }
  article {
    border-bottom: 1px solid red;
    padding: 50px 20px;
  }
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  >div{ width: 30%; }
}
