#root {
  display: grid;
  > .wrapper {
    display: grid;
    grid-template-columns: minmax(15%, 85%) minmax(85%,15%);
  }
}

.wrapper {
  max-width: 1320px;
  margin: auto;

}
main {
  nav {
    max-width: 200px;
    display: flex;
    flex-direction: column;
  }
  section {
    width: calc(100% - 200px - 24px);
  }
  article {
    border-bottom: 1px solid red;
    padding: 50px 20px;
  }
  @media screen and (max-width: 739px) {
    .wrapper {
        justify-content: center;
    }
    section {
      width: 100%;
      h3 {
        font-size: 14px;
      }
    }
  }
}

