/* Stylesheet 1: */
body#theme{
    font: 100% Lucida Sans, Verdana;
    background: $white-color;
    color: $black-color;
    a {
        color: inherit;
    }

    &.dark-theme {
        color: #84c754;
        background: $black-color;
        font: 100% Courier New;
        .navMobile a {
            color: #000;
        }
        .form {
            .textarea, 
            .text-input {
              border-bottom-color: rgba(255,255,255, 0.6);
            }
            .button {
                background-color: #fff;
                color: #000;
            }
        }
              
    }
    

}