/* Stylesheet 1: */
body#theme{
    font: 100% Lucida Sans, Verdana;
    a {
        color: inherit;
    }

    &.dark-theme {
        color: $white-color;
        background: $black-color;
        .navMobile a {
            color: #000;
        }
    }
    
    &.light-theme {
        background: $white-color;
        color: $black-color;
    }
}