/** fonts variable **/

$montserrat: 'Montserrat', sans-serif;

/** color variable  **/

$main-bg: #E5E5E5;
$header-bg: #181818;
$black-color: #000;
$white-color: #fff;
$main-color: #2C2C2C;

$default-border: #D1D1D1;

$btn-primary-bg-color: #F96652;
$btn-primary-color: #FEFDFD;
$btn-primary-hover-bg: #F84932;

$btn-primary-disabled-color: #626262;
$btn-primary-disabled-bg-color: #E1D8D7;

$btn-secondary-hover-color: #F96652;
$btn-secondary-hover-bg-color: #FFF3F3;

$btn-cancel-color: #FEFDFD;
$btn-cancel-bg-color: #F13D3D;
$btn-cancel-hover-bg-color: #FF6161;

$btn-cancel-disabled-color: #626262;
$btn-cancel-disabled-bg-color: #E1D8D7;

$input-color: #929292;
$input-hover-border-color: #B0BBBF;
$input-disabled-color: #FAF6F6;

$search-icon-color: #6F7782;

$border-color: #DCDCDC;

$table-th-bg-color: #FEFDFD;
$table-th-color: #929292;

$script-border-color: #B0BBBF;

$link-default-hover-color: #F96652;
