<div class="container py-5">
  <div class="hero-section">
    <div class="main-menu">
      <a href="#" class="logo">AKAD.</a>
      <div class="burger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <nav class="menu">
        <a href="/">Home</a>
        <a href="#why">WHY CHOOSE US</a>
        <a href="#portfolio">OUR PORTFOLIO</a>
        <a href="#contacts">Contacts</a>
      </nav>
    </div>
    <div class="hero-section--text">
      <h1>Creative agency</h1>
      <p class="text-center">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa eos dolorem recusandae quod vel ratione modi veniam maiores quas in?</p>
    </div>
    <figure>
      <img src="img/foundation/sm-bg.webp" alt="">
    </figure>
    <div class="hero-section--description">
      <h3>history of agency</h3>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing, elit. Esse soluta asperiores praesentium dolor quasi eveniet nemo eum beatae eos maxime. Ipsum animi ullam, obcaecati quidem aperiam sunt cum, ducimus maiores esse, optio excepturi minima inventore? Sequi, rerum, dolore laudantium ullam voluptatibus magni mollitia iure recusandae provident rem deserunt iusto nobis!</p>
      <button class="btn">read more</button>
    </div>
  </div>
</div>
