<div id="hero" class="hero">
  <div class="wrapper">
    <h1>Hero block</h1>
  </div>
</div>
<article>
  <div class="wrapper">
    <p>The hero banner area is the area of the page between the navigation and the start of your content. The hero banner is often an image, but it doesn't have to be. It serves as the starting point for your page and its contents should orient the user to the content on the rest of the page.</p>
  </div>
  <pre>
    <code class="language-markup">
      <script type="prism-html-css">
      <div id="hero" class="hero">
        <div class="wrapper">
          <h1>Hero block</h1>
        </div>
      </div>
      <article>
        <div class="wrapper">
          <p>The hero banner area is the area of the page between the navigation and the start of your content. 
            The hero banner is often an image, but it doesn't have to be. It serves as the starting point for your 
            page and its contents should orient the user to the content on the rest of the page.</p>
        </div>
      </article>

      //SCSS

      .hero {
        height: 300px;
        background: linear-gradient(90deg, rgb(36, 114, 181) 0%, rgb(56, 70, 96) 100%);
        min-height: 97px;
        margin-top: 10px;
        
        .wrapper {
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        
        h1 {
          color: #fff;
          font-size: 45px;
          font-weight: bold;
          font-style: italic;
        }
      }
    </script>
    </code>
  </pre>
</article>
