<article id="avatar">
	<h2>Avatar</h2>
	<div>
		<code>danger</code>: used for actions of risk, like deletion or authorization.
		<button class="btn btn-danger btn-sm">Button1</button>
	</div>
	<div>
		<code>primary</code>: default style for button
		<button class="btn btn-primary btn-lg">Button2</button>
	</div>
	<div>
		<code>disabled</code>: default style for button
		<button class="btn btn-disabled btn-xl">Button3</button>
	</div>
	<div>
		<code>secondary</code>: default style for button
		<button class="btn btn-secondary">Button4</button>
	</div>
</article>