<article id="grid">
  <div class="w-100">
    <h2>Grid: grid</h2>
      <h3>12 elastic boxes</h3>
      <div class="row-grid elastic">
        <div class="box-1"></div>
        <div class="box-2"></div>
        <div class="box-3"></div>
        <div class="box-4"></div>
        <div class="box-5"></div>
        <div class="box-6"></div>
        <div class="box-7"></div>
        <div class="box-8"></div>
        <div class="box-9"></div>
        <div class="box-10"></div>
        <div class="box-11"></div>
        <div class="box-12"></div>
      </div>
    </div>
    <div class="w-100">
      <h3>12 boxes in 6 elastic columns</h3>
      <div class="row-grid elastic-6columns">
        <div class="box-1"></div>
        <div class="box-2"></div>
        <div class="box-3"></div>
        <div class="box-4"></div>
        <div class="box-5"></div>
        <div class="box-6"></div>
        <div class="box-7"></div>
        <div class="box-8"></div>
        <div class="box-9"></div>
        <div class="box-10"></div>
        <div class="box-11"></div>
        <div class="box-12"></div>
      </div>
    </div>
      <div class="w-100">
      <h3>12 boxes in 4 elastic columns</h3>
      <div class="row-grid elastic-4columns">
        <div class="box-1"></div>
        <div class="box-2"></div>
        <div class="box-3"></div>
        <div class="box-4"></div>
        <div class="box-5"></div>
        <div class="box-6"></div>
        <div class="box-7"></div>
        <div class="box-8"></div>
        <div class="box-9"></div>
        <div class="box-10"></div>
        <div class="box-11"></div>
        <div class="box-12"></div>
      </div>
    </div>
      <div class="w-100">
      <h3>12 boxes in 3 elastic columns</h3>
      <div class="row-grid elastic-3columns">
        <div class="box-1"></div>
        <div class="box-2"></div>
        <div class="box-3"></div>
        <div class="box-4"></div>
        <div class="box-5"></div>
        <div class="box-6"></div>
        <div class="box-7"></div>
        <div class="box-8"></div>
        <div class="box-9"></div>
        <div class="box-10"></div>
        <div class="box-11"></div>
        <div class="box-12"></div>
      </div>
    </div>
    <div class="w-100">
      <h3>Z-index(box2) > Z-index(box1)  </h3>
      <div class="row-grid zindex">
        <div class="box-1z">One</div>
        <div class="box-2z">Two</div>
        <div class="box-3">Three</div>
        <div class="box-4">Four</div>
        <div class="box-5">Five</div>
        <div class="box-6">Six</div>
        <div class="box-7">Seven</div>
      </div>
    </div>
    <div class="w-100">
      <h3>Gutters</h3>
      <div class="row-grid gutters">
        <div class="box-1"></div>
        <div class="box-2"></div>
        <div class="box-3"></div>
        <div class="box-4"></div>
        <div class="box-5"></div>
        <div class="box-6"></div>
      </div>
    </div>
  </article>
  