<article id="gallery">
  <h2>Gallery</h2>
  <div class="gallery-wrapper">
    <figure class="gallery-col-1 gallery-row-2">
      <img src="img/galery/pexels-christina-morillo-1181703.webp" alt="logo">
      <figcaption>Good knowlegde documentation</figcaption>
    </figure>
    <figure class="">
      <img src="img/galery/code.webp" alt="code">
      <figcaption>You can write code</figcaption>
    </figure>
    <figure class="horisontal ">
      <img src="img/galery/hard-working.webp" alt="hard-working">
      <figcaption>If you want to be success - you need to work hard</figcaption>
    </figure>
    <figure>
      <img src="img/galery/learning.webp" alt="Learning">
      <figcaption>Learning all time.</figcaption>
    </figure>
    <figure>
      <img src="img/galery/pexels-mikhail-nilov-7989147.webp" alt="logo">
      <figcaption>Type rarely - save keypad</figcaption>
    </figure>
    <figure>
      <img src="img/galery/pexels-team.webp" alt="pexels-team">
      <figcaption>Team work - good work</figcaption>
    </figure>
  </div>
</article>
