<article id="card">
    <h2>Card</h2>
    <div class="content-wrapper">
        <div class="background">
            <div>
                <h3>Card title</h3>
                <hr>
                <span>card content</span>
                <span>card content</span>
                <span>card content</span>
            </div>
        </div>
        <div class="background lg">
            <div>
                <h3>Card title 2</h3>
                <hr>
                <span>card content</span>
                <span>card content</span>
                <span>card content</span>
            </div>
        </div>
        <div class="background md">
            <div>
                <h3>Card title 3</h3>
                <hr>
                <span>card content</span>
                <span>card content</span>
                <span>card content</span>
            </div>
        </div>
        <div class="background sm">
            <div>
                <h3>Card title 4</h3>
                <hr>
                <span>card content</span>
                <span>card content</span>
                <span>card content</span>
            </div>
        </div>
    </div>

</article>
