* {
	margin: 0;
	padding: 0;
}
body {
	min-height: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #ebebeb;
}

h1 {
	font-size: 45px;
	padding: 30px;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
}

/*Header*/

header {
	height: 100px;
	background: #262626;
	width: 100%;
	z-index: 10;
	/*position: fixed;*/
}

.logo {
	width: 30%;
	float: left;
	line-height: 100px;
}

.logo a {
	text-decoration: none;
	font-size: 30px;
	color: #fff;
	letter-spacing: 5px;
}


.blackLogo a {
	text-decoration: none;
	font-size: 30px;
	color: black;
	letter-spacing: 5px;
}

nav {
	float: right;
	line-height: 100px;
}

nav a {
	text-decoration: none;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: #fff;
}

/*Banner area*/

.bannerArea {
	width: 100%;
	height: 400px;
	top: 100px;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}

.bannerAreaText {
	padding-top: 8%;
	font-size: 70px;
	text-transform: uppercase;
	color: #fff;
}

#videoTable{
	width: 100%;
	height: auto;
	text-align: center;
}

/*Content area #1*/

.contentAreaVideos {
	width: 80%;
	align-self: center;
	position: relative;
	background: #f0d6ac;
}

.contentAreaVideos h2 {
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}

.contentAreaVideos p {
	padding: 2% 0px;
	line-height: 30px;
}

/*Content area #2*/

.contentAreaInfo {
	text-align: center;
	width: 90%;
	position: relative;
	background: #f0d6ac;
	height: 100%;
}

.contentAreaInfo h2 {
	text-align: center;
	letter-spacing: 4px;
	padding-top: 30px;
	font-size: 40px;
	margin: 0;
}
.contentAreaInfo p {
	text-align: center;
	padding: 2% 0;
	line-height: 30px;
}

.contentAreaInfo pre {
	text-align: center;
	padding: 2% 0px;
	line-height: 30px;
}

/*Content area #3*/

.contentAreaGalery {
	text-align: center;
	width: 90%;
	position: relative;
	background: #f1cf8e;
	height: 750px;
}

/*Footer*/

footer {
	opacity: 0.6;
	background-color: #262626;
	width: 100%;
	height: auto;
	padding: 20px 20px 0 20px;
	color: white;
}

.footerWrapper {
	display: flex;
	justify-content: space-around;
	margin-bottom: 20px;
}

.footerMenuItem {
	text-align: left;
	list-style-type: none;
}

.footerMenuItem a {
	text-decoration: none;
	letter-spacing: 4px;
	font-size: 20px;
	margin: 0 10px;
	color: #fff;
}

.info h4 {
	text-transform: uppercase;
}

.form {
	display: flex;
	flex-flow: column;
	font-size: 10px;
	font-weight: 400;
}

.form__input {
	width: 100%;
	height: 20px;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	outline: none;
	margin: 5px auto;
}

.form__btn {
	width: auto;
	height: 25px;
}

.copyright {
	position: relative;
	bottom: 0;
	background-color:#4d4d4d;
	font-size: 18px;
	left: 0;
	width: 100%;
	height: auto;
	color: white;
}

.smallVideo {
	width: 100%;
	height: 315px;
}

.sendButton {
	appearance: none;
	background-color: #2ea44f;
	border: 1px solid rgba(27, 31, 35, .15);
	border-radius: 6px;
	box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
	box-sizing: border-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	padding: 6px 16px;
	position: relative;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
	white-space: nowrap;
}

.sendButton:focus:not(:focus-visible):not(.focus-visible) {
	box-shadow: none;
	outline: none;
}

.sendButton:hover {
	background-color: #2c974b;
}

.sendButton:focus {
	box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
	outline: none;
}

.sendButton:disabled {
	background-color: #94d3a2;
	border-color: rgba(27, 31, 35, .1);
	color: rgba(255, 255, 255, .8);
	cursor: default;
}

.sendButton:active {
	background-color: #298e46;
	box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.emailInput {
	background: #ecf0f3;
	padding: 5px;
	padding-left: 5px;
	height: 10px;
	font-size: 14px;
	border-radius: 6px;
	box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.question {
	width: 100%;
	font-size: 36px;
	text-align: center;
	color: red;
}

.greenLink:link {
  	color: yellow;
  	background-color: transparent;
  	text-decoration: none;
}

.greenLink:visited {
  	color: darkcyan;
  	background-color: transparent;
  	text-decoration: none;
}

.greenLink:hover {
 	color: green;
 	background-color: transparent;
 	text-decoration: underline;
}

.greenLink:active {
  	color: maroon;
  	background-color: transparent;
  	text-decoration: underline;
}

.textArea {
	width: 100%;
	text-align: left;
	justify-content: left;
}

.galleryList {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	font-size: 0;
	margin-top: 30px;
}

.galleryItem {
	display: block;
	flex: 25%;
	overflow: hidden;
	position: relative;
}

.galleryItemHover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.7);
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	opacity: 0;
	transition: opacity .5s ease;
	z-index: 2;
}

.galleryItem:hover .galleryItemHover {
	opacity: 1;
}

.galleryItem:hover img {
	transform: scale(1.3) rotate(5deg);
}

.galleryItem img {
	max-width: 100%;
	height: auto;
	transition: all .5s ease;
}

@media (max-width: 991px) {
	.galleryItem{
		flex: 33.3%;
	}
}

@media (max-width: 768px) {
	.galleryItem{
		flex: 50%;
	}
}

@media (max-width: 530px) {
	.galleryItem {
		flex: 100%;
	}
}

nav a:hover {
	font-size: 30px;
	background-color: #251d15;
	border-radius: 20px;
}

.resImg {
	max-width: 600px;
}

.tg {
	border-collapse: collapse;
	border-spacing: 0;
}

.tg td {
	border-color: black;
	border-style: solid;
	border-width: 2px;
	font-family:Arial, sans-serif;
	font-size:14px;
	overflow:hidden;
	padding:10px 5px;
	word-break:normal;
}

.tg th {
	border-color:black;
	border-style:solid;
	border-width:1px;
	font-family:Arial, sans-serif;
	font-size:14px;
	font-weight:normal;
	overflow:hidden;
	padding: 10px 5px;
	word-break:normal;
}

.tg .tg-zv4m {
	border-color: #ffffff;
	text-align:left;
	vertical-align:top;
	font-size: 15px;
	padding: 20px;
}

.tg .tg-73oq{
	border-color:#000000;
	text-align:left;
	vertical-align:top
}

.tg .tg-0pky{
	border-color:inherit;
	text-align:left;
	vertical-align:top}