<article id="flex">
    <h2>Grid: flex</h2>
    <div class="w-100">
      <h3>12 columns</h3>
      <div class="row-flex">
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
      </div>
    </div>
    <div class="w-100">
      <h3>6 columns</h3>
      <div class="row-flex">
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
      </div>
    </div>
    <div class="w-100">
      <h3>4 columns</h3>
      <div class="row-flex">
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3"></div>
      </div>
    </div>
    <div class="w-100">
      <h3>3 columns</h3>
      <div class="row-flex">
        <div class="col-4">3 col</div>
        <div class="col-4">3 col</div>
        <div class="col-4">3 col</div>
      </div>
    </div>
    <div class="w-100">
      <h3>4 columns</h3>
      <div class="row-flex">
        <div class="col-4">4 col</div>
        <div class="col-4">4 col</div>
        <div class="col-2">2 col</div>
        <div class="col-2">2 col</div>
      </div>
    </div>
    <div class="w-100">
      <h3>3 columns</h3>
      <div class="row-flex">
        <div class="col-5">5 col</div>
        <div class="col-4">4 col</div>
        <div class="col-2">2 col</div>
      </div>
    </div>
    <div class="w-100">
      <h3>2 columns with offset</h3>
      <div class="row-flex">
        <div class="col-5">5 col</div>
        <div class="col-1 offset-sm-3">1 col with offset-3</div>
      </div>
    </div>
    <div class="w-100">
      <h3>2 columns justify-content: space-center</h3>
      <div class="row-flex justify-content-center">
        <div class="col-5">5 col</div>
        <div class="col-3">3 col</div>
      </div>
    </div>
    <div class="w-100">
      <h3>2 columns justify-content: space-between</h3>
      <div class="row-flex justify-content-between">
        <div class="col-5">5 col</div>
        <div class="col-1">1 col</div>
      </div>
    </div>
    <div class="w-100">
      <h3>2 columns justify-content: flex-end</h3>
      <div class="row-flex justify-content-end">
        <div class="col-5">5 col</div>
        <div class="col-1">1 col</div>
      </div>
    </div>
    <pre>
      <code class="language-markup">
          <script type="prism-html">
<article id="flex">
    <h2>Grid: flex</h2>
    <div class="w-100">
      <h3>12 columns</h3>
      <div class="row-flex">
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
        <div class="col-1"></div>
      </div>
    </div>
    <div class="w-100">
      <h3>6 columns</h3>
      <div class="row-flex">
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
        <div class="col-2"></div>
      </div>
    </div>
    <div class="w-100">
      <h3>4 columns</h3>
      <div class="row-flex">
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3"></div>
        <div class="col-3"></div>
      </div>
    </div>
    <div class="w-100">
      <h3>3 columns</h3>
      <div class="row-flex">
        <div class="col-4">3 col</div>
        <div class="col-4">3 col</div>
        <div class="col-4">3 col</div>
      </div>
    </div>
    <div class="w-100">
      <h3>4 columns</h3>
      <div class="row-flex">
        <div class="col-4">4 col</div>
        <div class="col-4">4 col</div>
        <div class="col-2">2 col</div>
        <div class="col-2">2 col</div>
      </div>
    </div>
    <div class="w-100">
      <h3>3 columns</h3>
      <div class="row-flex">
        <div class="col-5">5 col</div>
        <div class="col-4">4 col</div>
        <div class="col-2">2 col</div>
      </div>
    </div>
    <div class="w-100">
      <h3>2 columns with offset</h3>
      <div class="row-flex">
        <div class="col-5">5 col</div>
        <div class="col-1 offset-sm-3">1 col with offset-3</div>
      </div>
    </div>
    <div class="w-100">
      <h3>2 columns justify-content: space-center</h3>
      <div class="row-flex justify-content-center">
        <div class="col-5">5 col</div>
        <div class="col-3">3 col</div>
      </div>
    </div>
    <div class="w-100">
      <h3>2 columns justify-content: space-between</h3>
      <div class="row-flex justify-content-between">
        <div class="col-5">5 col</div>
        <div class="col-1">1 col</div>
      </div>
    </div>
    <div class="w-100">
      <h3>2 columns justify-content: flex-end</h3>
      <div class="row-flex justify-content-end">
        <div class="col-5">5 col</div>
        <div class="col-1">1 col</div>
      </div>
    </div>
</article>        
          </script>
      </code>
    </pre>
</article>


