<article id="blockquote">
  <h2>Blockquote</h2>
  <h3>Default blockquote</h3>
  <blockquote class="blockquote">
    <p class="">“The default style of block quotes really just makes an adjustment to font-sizing as well as the footer text.”</p>
    <footer class="blockquote-footer"><span class="material-icons">minimize</span>This is the footer</footer>
  </blockquote>

  <h3>Custom blockquote</h3>
  <blockquote class="blockquote blockquote-custom">
    <span class="material-icons">format_quote</span>
    <p class="text-italic">The additional quote bar on the top and bottom highlight the quote clearly as a quotation and help the quote stand out more than the default styling.</p>
    <footer class="blockquote-footer text-right"><span class="material-icons">minimize</span>Author Name<br>Title</footer>
    <span class="material-icons">format_quote</span>
  </blockquote>
  <pre>
    <code class="language-markup">
      <script type="prism-html-css">
      <article id="blockquote">
        <h2>Blockquote</h2>
        <h3>Default blockquote</h3>
        <blockquote class="blockquote">
          <p class="">“The default style of block quotes really just makes 
            an adjustment to font-sizing as well as the footer text.”</p>
          <footer class="blockquote-footer"><span class="material-icons">minimize</span>This is the footer</footer>
        </blockquote>
      
        <h3>Custom blockquote</h3>
        <blockquote class="blockquote blockquote-custom">
          <span class="material-icons">format_quote</span>
          <p class="text-italic">The additional quote bar on the top and bottom 
            highlight the quote clearly as a quotation and help the quote stand 
            out more than the default styling.</p>
          <footer class="blockquote-footer text-right"><span class="material-icons">minimize</span>Author Name<br>Title</footer>
          <span class="material-icons">format_quote</span>
        </blockquote>
      </article>
    </script>
    </code>
  </pre>
</article>
