<!-- Our portfolio section-->
<section class="py-5" id="portfolio">
   <div class="container px-5 my-5">
      <div class="row gx-3">
         <div class="text-center mt-5">
            <h3>OUR PORTFOLIO</h3>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti amet voluptates ullam quasi dolores quibusdam vel in natus itaque ea corporis officiis illo necessitatibus, facere quaerat tempore cupiditate explicabo assumenda?</p>
         </div>
         <div class="col-lg-3 mb-5 mb-lg-0">
            <h3>CHOOSE<br>CATEGORY</h3>
            <ul class="category">
               <li><span class="all">ALL</span></li>
               <li><span class="webdesign">WEBDESIGN</span></li>
               <li><span class="graphic">GRAPHIC DESIGN</span></li>
               <li><span class="fashion">FASHION</span></li>
               <li><span class="design">LOGO DESIGN</span></li>
               <li><span class="advertising">ADVERTISING</span></li>
            </ul>
         </div>
         <div class="col-lg-9 category-content">
            <div class="grid-item webdesign">
               <figure><img src="img/foundation/1.webp" alt=""></figure>
            </div>
            <div class="grid-item graphic">
               <figure><img src="img/foundation/2.webp" alt=""></figure>
            </div>
            <div class="grid-item grid-item--height3 fashion">
               <figure><img src="img/foundation/3.webp" alt=""></figure>
            </div>
            <div class="grid-item grid-item--height2 design">
               <figure><img src="img/foundation/4.webp" alt=""></figure>
            </div>
            <div class="grid-item grid-item--height3 webdesign">
               <figure><img src="img/foundation/5.webp" alt=""></figure>
            </div>
            <div class="grid-item webdesign" >
               <figure><img src="img/foundation/6.webp" alt=""></figure>
            </div>
            <div class="grid-item grid-item--height3 advertising">
               <figure><img src="img/foundation/7.webp" alt=""></figure>
            </div>
            <div  class="grid-item grid-item--height2 fashion">
               <figure><img src="img/foundation/8.webp" alt=""></figure>
            </div>
            <div class="grid-item advertising" >
               <figure><img src="img/foundation/9.webp" alt=""></figure>
            </div>
         </div>
      </div>
   </div>
</section>