
 <!-- Our portfolio section-->
 <section class="py-5">
    <div class="container px-5 my-5">
       <div class="row gx-3">
         <div class="text-center mt-5">
            <h3>OUR PORTFOLIO</h3>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti amet voluptates ullam quasi dolores quibusdam vel in natus itaque ea corporis officiis illo necessitatibus, facere quaerat tempore cupiditate explicabo assumenda?</p>
         </div> 

                <div class="col-md-3 mb-5 mb-lg-0">
                   <h3>CHOOSE</h3>
                   <h3>CATEGORY</h3>
                    <ul>
                        <li><a href="#">ALL</a></li>
                        <li><a href="#">WEBDESIGN</a></li>
                        <li><a href="#">GRAPHIC DESIGN</a></li>
                        <li><a href="#">FASHION</a></li>
                        <li><a href="#">LOGO DESIGN</a></li>
                        <li><a href="#">ADVERTISING</a></li>
                    </ul>
                </div>         
            <div class="col-lg-9 grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 290 }'>
              
                    <div  class="grid-item">                           
                            <figure><img src="img/foundation/1.webp" alt=""></figure>
                        </div>
                    <div  class="grid-item" >                          
                            <figure><img src="img/foundation/2.webp" alt=""></figure>
                        </div>
                    <div  class="grid-item grid-item--height3">                       

                            <figure><img src="img/foundation/3.webp" alt=""></figure>
                        </div>
                    <div class="grid-item grid-item--height2">
                        <figure><img src="img/foundation/4.webp" alt=""></figure> 
                    </div>
                    <div class="grid-item grid-item--height3">
                        <figure><img src="img/foundation/5.webp" alt=""></figure>
                    </div>
                    <div class="grid-item " >                                                    
                           <figure><img src="img/foundation/6.webp" alt=""></figure>
                        </div>
                    <div class="grid-item grid-item--height3">
                         <figure><img src="img/foundation/7.webp" alt=""></figure>
                        </div>
                    <div  class="grid-item grid-item--height2">
                         <figure><img src="img/foundation/9.webp" alt=""></figure>
                    </div>
                    <div class="grid-item" >
                          <figure><img src="img/foundation/8.webp" alt=""></figure>
                    </div>
                </div>
            
        </div>
    </div>
</section>

 