<footer class="footer-basic">
  <div class="wrapper">
    <div class="social">
      <a class="icon" href="#"><img src="img/logo-facebook.svg"></a>
      <a class="icon" href="#"><img src="img/logo-twitter.svg"></a>
      <a class="icon" href="#"><img src="img/logo-linkedin.svg"></a>
      <a class="icon" href="#"><img src="img/logo-telegram.svg"></a>
      <a class="icon" href="#"><img src="img/logo-slack.svg"></a>
    </div>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="#">Home</a></li>
      <li class="list-inline-item"><a href="#">Services</a></li>
      <li class="list-inline-item"><a href="#">Portfolio</a></li>
      <li class="list-inline-item"><a href="#">About</a></li>
      <li class="list-inline-item"><a href="#">Terms</a></li>
    </ul>
    <p class="copyright">Зачаровано Sigma-squad © 2021</p>
  </div>
</footer>
